/*
* @Author: User
* @Date:   2016-03-21 20:30:16
* @Last Modified by:   User
* @Last Modified time: 2016-09-27 11:58:37
*/
html {
	font-size: 40px;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}

.getmoney .red {
	color: #ff294d;
}

.getmoney {
	height:100%;
	margin: 0 auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	background: #692c60;
}
.getmoney .inviteBanner {
	width: 100%;
	height: 14rem;
	background: url(../../../images/pages/invite/cr01.png) no-repeat center;
	background-size: contain;
	/*  	-webkit-background-size: contain; */
/* 	background-size: 100%; */
	/*  position: absolute;
 	 	top:0;
 	 	left:50%;
 	 	-webkit-transform: translateX(-50%);
 	 	-ms-transform: translateX(-50%);
 	 	-o-transform: translateX(-50%);
 	 	transform: translateX(-50%);  */
}

.getmoney .word {
	width: 100%;
	height: 2.5rem;
	padding: 0.8rem 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.getmoney .totalbox {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}

.getmoney .total {
	display: inline-block;
	height: .6rem;
	float: left;
	line-height: 1.6rem;
	font-size: .48rem;
	/*   position: absolute;
   top:8rem;
   left:1rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); */
}

.getmoney .total .red {
	display: inline-block;
}

.getmoney .word i {
	width: 1.3875rem;
	height: 2.7rem;
	background: url(../../../images/pages/invite/p3-1.png) no-repeat 0 0;
	-webkit-background-size: contain;
	background-size: contain;
	float: left;
}

.getmoney .word  p {
	height: 2.7rem;
	font-size: .5rem;
	text-align: center;
}

.getmoney .word  p span {
	color: #ff294d;
}

.getmoney  .ui-text-input {
	border: none;
}

.getmoney .getmoneyInfo {
	width: 90%;
	height: 1.5rem;
	border-radius: 5px;
	margin: 0;
	margin: 0 auto;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 0;
}

.getmoney .getmoneyInfo input {
	padding: 0;
	margin: 0;
	width:100%;
	height: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 2.25em;
}
.getmoney  li.getmoneyPassword{
	overflow:hidden;
	z-index:1;
}
.getmoney .getmoneyInfo input.cipher{
	width:90%;
	height:100%;
	
	float: left;
}
.getmoney .getmoneyInfo .switchPassword{	
	width:1.5rem;
	height:0.9rem;
	margin-top:0.3rem;
	padding-left:0.2rem;
	/* margin-right:0.2rem; */
	border-left: 1px solid #efefef;
	float: right;
}
/* .getmoney .getmoneyInfo .switch{ */
/* 	width:1.1rem; */
/* 	height:0.9rem; */
/* 	background: cyan url() 0 0 no-repeat;  */
/* 	background:  url(../../../images/pages/invite/cleartext.png) center center no-repeat; */
/* 	background-size:contain; */
/* } */
/* .getmoney .getmoneyInfo .switchcipher{ */
/* 	width:1.1rem; */
/* 	height:0.9rem; */
/* 	background: cyan url() 0 0 no-repeat;  */
/* 	background:  url(../../../images/pages/invite/ciphertext.png) center center no-repeat; */
/* 	background-size:contain; */
/* } */
.getmoney .getmoneyInfo  .sms-code {
	width: 8.5rem;
	border: 1px solid #ccc;

}

.getmoney .short {
	position: relative;
	background: transparent;
	border: none;
	margin-bottom: 15px;
}

.getmoney .short .btn-sm {
	width: 3.5rem;
	height: 1.5rem;
	background: #692c60;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	z-index: 1000;
	clear: both;
}
.getmoney .short .btn-sm img{
width: 3.5rem;
height: 1.421875rem;
float: right;
margin-top: 0.0390675rem;
}
.invitenum span {
	color: #ee5e00;
}

.getmoney  .invitenum {
	background: transparent;
	width: 90%;
	height: .5rem;
	font-size: .4rem;
	position: relative;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.invitenum p {
	position: absolute;
	top: 0;
	right: 0;
}

.invitenum p span {
	color: #ee5e00;
}

.inviteMoneybtn {
	display: block;
	width: 90%;
	height: 3rem;
	background:url(../../../images/pages/invite/cr02.png) no-repeat 0 center;
	border-radius: 0.5rem;
	background-size: contain;
	line-height: 1.46875rem;
	text-align: center;
	color: #fff;
	font-size: .75rem;
	margin: 0 auto;
}

.getmoney .Bonusrules {
	display: inline-block;
	width: 2.6rem;
	height: .6rem;
	overflow: hidden;
	font-size: .48rem;
	float: right;
	color: #ff294d;
	margin: 0.5rem auto;
	cursor: pointer;
	/*  position: absolute;
    top:7.4rem;
    right:1rem;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transform: translateX(-50%); */
}

.getmoney .Bonusrules .left {
	float: left;
	width: 0.6rem;
	height: 0.6rem;
	background: url(../../../images/pages/invite/info.png) 0 center
		no-repeat;
	background-size: contain;
	/*  position: absolute;
 top:50%;
 left:0;
  -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%); */
}

.getmoney .Bonusrules .right {
	float: right;
	text-decoration: underline;
	/* position: absolute;
  top:50%;
   -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.getmoney .line {
	width: 90%;
	height: 1px;
	border-bottom: 1px solid #ee5e00;
	margin: 2rem auto;
	position: relative;
	margin-bottom: 1rem;
}

.getmoney .line .reason {
	width: 45%;
	height: 2rem;
	background: #f4f2e6;
	text-align: center;
	line-height: 2rem;
	font-size: .5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-bottom: 2rem;
}

.getmoney .line .reason .left, .getmoney .line .reason .right {
	width: .19rem;
	height: .19rem;
	border: 1px solid #ee5e00;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	-o-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);
}

.getmoney .line .reason .right {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	-o-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);
}

.getmoney .adword {
	display: block;
	width:96%;
	height: auto;
	margin:0.5rem  auto   0;	
}
.getmoney .pic {
    width: 96%;
    height: 13rem;
    background: url(../../../images/pages/invite/intro-cr.png) 0 0 no-repeat;
    background-size: contain;
    margin: 0.5rem auto 0;
}
.form-ui .inviteregister .ui-text-input  li.getmoneyInfo{
    position:relative;
}
.icon1{
    display: block;
    width:0.34375rem;
    height:0.671875rem;
    background:  url(../../../images/pages/invite/phone.png) 0 0 no-repeat;
    background-size:contain;
        z-index:200;
position:absolute;
top:50%;
left:0.25rem;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.icon2{
    display: block;
    width:0.484375rem;
    height:0.484375rem;
    background:  url(../../../images/pages/invite/verification1.png) 0 0 no-repeat;
    background-size:contain;
    z-index:200;
position:absolute;
top:50%;
left:0.25rem;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.icon3{
    display: block;
    width:0.49375rem;
    height:0.61875rem;
    background:  url(../../../images/pages/invite/pass.png) 0 0 no-repeat;
    background-size:contain;
        z-index:200;
    position:absolute;
    top:50%;
    left:0.25rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.getmoney .adword h2 {
	color: #ee5e00;
	font-size: .8rem;
	font-weight: normal;
}

.getmoney .adword .keyword {
	width: 90%;
	height: 1.5rem;
	line-height: 1.5rem;
	color: #50b59a;
	font-size: 1.3rem;
	font-weight: normal;
	padding: 0;
	margin: 0;
	position: relative;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 1rem;
}

.getmoney .adword .keyword .above {
	font-size: 0.5rem;
	line-height: 0.5rem;
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
}

.getmoney .adword .keyword .bottom {
	font-size: 0.5rem;
	line-height: 0.5rem;
	color: #666;
	position: absolute;
	bottom: 0;
	right: 0;
}

.getmoney .adword .thick {
	font-weight: normal;
	font-size: .5rem;
	color: #50b59a;
}

.picture {
	width: 100%;
	height: 4rem;
	background: url(../../../images/pages/invite/p3-end.png) center 0
		no-repeat;
	background-size: contain;
}

.getmoney .maskLayer {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: none;
	z-index: 200;
}

.getmoney .maskLayer .juzhong {
	width: 100%;
	height: 100%;
	position: relative;
}

.bunus {
	width: 10rem;
	height: 18rem;
	background: #f4f2e6;
	position: absolute;
	bottom: 1.109375rem;
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	font-size: 0.4rem;
	padding: 0.35rem;
	z-index: 999;
}

.bunus .close {
	width: 0.8rem;
	height: 0.8rem;
	background: url(../../../images/pages/invite/p2-x.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.45rem;
	right: 0.4rem;
}

.bunus h1 {
	font-size: 0.6rem;
	line-height: 0.859375rem;
	color: #fff;
	width: 7.1875rem;
	height: 0.859375rem;
	background: url(../../../images/pages/invite/p2-4.png) 0 0 no-repeat;
	background-size: contain;
	margin: 0 auto;
	text-align: center;
}

span {
	color: #ee5e00;
}

.getmoney .maskLayer .juzhong .redpackets {
	width: 10.78125rem;
	height: 4.640625rem;
	background: url(../../../images/pages/invite/p2-1.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.redpackets .center {
	width: 1.09375rem;
	height: 0.546875rem;
	background: url(../../../images/pages/invite/p2-3.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0.546875rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1000;
}

.redpackets .centerOpen {
	width: 1.09375rem;
	height: 0.546875rem;
	background: url(../../../images/pages/invite/p2-2.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0.546875rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1001;
}
.crline{
	width:85%;
	height:0.25rem;
	background:  url(../../../images/pages/invite/3.png) 0 0 no-repeat;
	background-size:contain;
	margin:1rem auto;
}
.regist{
      width:100%;
      height:2.2rem;
      background:  url(../../../images/pages/invite/xuanfu.png) 0 0 no-repeat;
      background-size:contain;
      position:fixed;
      bottom:0;
      z-index:999;
}