.wrapper{
	background:#fff;
}
.bannerImg{
	width:100%;
}
.title{
	line-height:0.8rem;
	border-bottom:0.0133rem solid #DCDCDC;
	padding:0.4rem 0.2666rem;
}
.goodsName{
	font-size: 0.4266rem;
	font-weight: bolder;
	color: #4A4A4A;
}
.integral{
	font-size: 0.5333rem;
	color: #D2AB69;
}
.price{
	font-size: 0.32rem;
	color: #9B9B9B;
	text-decoration:line-through;
}
.button{
	width:100%;
	height:1.3066rem;
	padding:0;
	background: #DEDEDE;
	font-size: 0.48rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.3066rem;
	position:fixed;
	left:0;bottom:0;
}
.button2{
	background: #DEDEDE;
	background: #D7BB88;
	
}


/*积分兑换*/
.goods,.address{
	background:#fff;
	line-height:0.8rem;
	padding:0.4rem 0.2666rem;
}
.goods{
	margin-top:0.2666rem;
}
.address{
	display:block;
	text-align:center;
}
.addAddress{
	width:0.5333rem;
	height:0.5333rem;
	vertical-align: middle;
	margin-top:-0.18rem;
}
.goods-left{
	width:2rem;
}
.goods-right{
	padding-left:0.5rem;
	width:7rem;
}
.addText{
	display:inline-block;
	font-size: 0.5333rem;
	color: #D2AB69;
}
.goods-img{

}
.goods-title{
	font-size: 0.3733rem;
	color: #4A4A4A;
}
.goods-num{
	font-size: 0.32rem;
	color: #9B9B9B;
}
.goods-integral{
	font-size: 0.3733rem;
	color: #D7BB88;
}
.details{
	padding: 0.4rem 0.2666rem;
}
.details p{
	color:normal;
}
.details img{
	max-width:100%;
}



.mui-content{
	width:8rem;
	background: transparent;
	text-align: left;
}
.name{
	font-size: 0.4266rem;
	color: #4A4A4A;
}
.name span{
	display:inline-block;
	max-width:50%;
	// height:0.55rem;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right:0.45rem;
}
.name span:nth-child(2){
	max-width:40%;
}
.detailedAddress{
	font-size: 0.3733rem;
	color: #9B9B9B;
}
.mui-off-canvas-right{
	width:2rem;
	line-height: 2.133rem;
	position:absolute;
	left:0;
	top:0;
    -webkit-transform: translate3d(10rem,0,0);
    transform: translate3d(10rem,0,0);
    font-size: 0.4266rem;
	color: #FFFFFF;
    background: #FE3824;
    text-align: center;
}
.edit{
	display:block;
	width:0.1866rem;
	paddign:0.5rem;
	height:;
	margin-top:0.6rem;
	vertical-align: middle;
}
.map{
	width:0.3733rem;
	margin-top:0.15rem;
	margin-right:0.25rem;
}


.hide{
	display:none;
}