/*
* @Author: User
* @Date:   2016-09-16 11:16:49
* @Last Modified by:   User
* @Last Modified time: 2016-09-16 11:18:29
*/
.page-reset .caption {
    height: 1.25rem;
    width: 100%;
    text-align: center;
    font-size: 0.475rem;
    line-height: 1.25rem;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
/*     margin-bottom: 0.2rem; */
    color: rgb(55,78,171);
    background: #fff url() 0 0 no-repeat;
}
.page-reset .caption a.back {
    display: block;
    width: .21785rem;
    height: .421875rem;
    background: url(../../../images/pages/financing/regular3.0/back.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.4140625rem;
    top: .359375rem;
}
.page-reset .mt20{
	margin-top: 0!important;
}

.img-sms-code {
    width:  auto !important;
    height: 0.875rem;
    position: absolute;
    padding: 0 0.3125rem;
    right: .234375rem;
    top: .3125rem;
}

.img-sms-code img {
    width: 2rem;
    height: 100%;
}


.usertitle {
    width: 100%;
    height: 2rem;
    background: #ffffff;
    line-height: 2rem;
    text-align: center;
    color: #4A4A4A;
    font-size: 0.4rem;
}

.usertitle > span {
    font-weight: bold;
}

.userCard {
    width: 100%;
    height: 1.2rem;
    background: #ffffff;
    margin-top: 0.5rem;
}

.userInput {
    width: 9rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.userInput > input {
    width: 100%;
    height: 100%;
    line-height: 1.2rem;
    border: none;
    font-size: 0.38rem;
    color: #CDCDCD;
}

.nextdiv {
    width: 8rem;
    height: 1.2rem;
    margin: 0 auto;
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 0.8rem;
    position: relative;
}

.resNextBtn {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.2rem;
    background: #2B6FF9;
    display: block;
    color: #ffffff;
    font-size: 0.38rem;
}

.nonext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    opacity: 0.5;
    z-index: 10;
}

.utitle {
    width: 100%;
    height: 2rem;
    background: #ffffff;
    border-bottom: 1px solid #DCDCDC;
}

.utitle > div {
    width: 100%;
    height: 1rem;
    text-align: center;
}

.utitle > div:first-child {
    line-height: 1.2rem;
    color: #9B9B9B;
    font-size: 0.38rem;
}

.utitle > div:first-child > span {
    color: #4A4A4A;
}

.utitle > div:last-child {
    line-height: 0.6rem;
    font-size: 0.4rem;
    font-weight: bold;
    color: #4A4A4A;
}

.reset-box {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.reset-box-input {
    width: 7.8rem;
    height: 2rem;
    margin: 0 auto;
}

.resetpass {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.resetpass > a {
    width: 1.2rem;
    height: 100%;
    display: block;
    float: left;
    line-height: 2.4rem;
    font-size: 0.7rem;
    margin-left: 0.6rem;
    text-align: center;
    border-bottom: 1px solid #9B9B9B;
    position: relative;
}

.iconpass {
    width: 300%!important;
    height: 100%;
    border: none;
    position: absolute;
    top:0;
    right: 0;
    opacity: 0;
    transform: translateX(-50%);
    background: transparent;
    font-size: 1px;
    left: 0;
    -webkit-transform:translateX(-50%);
}

.passrule {
    width: auto;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.34rem;
    color:  #666666;
    margin: 0 auto;
}

.passrule > .r-reload {
    color: #2B6FF9;
}

.aicon {
    width: 0.05rem;
    height: 0.8rem;
    background: #2B6FF9;
    position: absolute;
    right: 0;
    left: 0;
    top: 0.8rem;
    margin: 0 auto;
}

.aicon1 {
    border-bottom: 1px solid #2B6FF9 !important;
}

.reset-pass-box {
    width: 8.45rem;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
}

.reset-pass-box-input {
    width: 100%;
    height: 1.2rem;
    background: #ffffff;
    border: 1px solid #DCDCDC;
    overflow: hidden;
    position: relative;
}

.reset-pass-box-txt {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.34rem;
    color: #9B9B9B;
}

.reset-pass-box-input > a{
    width: 1.38rem;
    height: 100%;
    float: left;
    display: block;
    border-right: 1px solid #DCDCDC;
    position: relative;
}

.reset-pass-box-input > a:last-child {
    border-right:none;
}

.e {
    width: 0.05rem;
    height: 0.5rem;
    position: absolute;
    top: 0.35rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #9B9B9B;
}

.b {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 0.35rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #4A4A4A;
}

.rest-pass {
    width: 300%!important;
    /*width: 100%;*/
    height: 100%;
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform:translateX(-50%) !important;
    transform: translateX(-50%);
    background: transparent;
    font-size: 1px;
}

.utitle1 {
    width: 100%;
    height: 2rem;
    background: #ffffff;
}

.utitle1 > div:nth-child(1) {
    width: 100%;
    height: 1rem;
    font-size: 0.4rem;
    line-height: 1.3rem;
    text-align: center;
    color:  #9B9B9B;
}

.utitle1 > div:nth-child(2) {
    width: 100%;
    height: 1rem;
    font-size: 0.42rem;
    line-height: 0.8rem;
    text-align: center;
    color:   #4A4A4A;;
    font-weight: bold;
    border-bottom: 1px solid #DCDCDC;
}

.utitle2 {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background: #ffffff;
    text-align: center;
    color: #4A4A4A;
    font-size: 0.4rem;
}

.nextSubBtn {
    width: 8.45rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.38rem;
    background: #2B6FF9;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    color: #ffffff;
    border-radius: 0.1rem;
    position: relative;
}

.isdisable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.5;
}

.reset-alert > div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10;
}

.reset-alert-box {
    width: 7rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.2rem;
}

.reset-alert-box > div:nth-child(1) {
    width: 5.5rem;
    height: auto;
    line-height: 0.6rem;
    margin: 0.5rem auto;
    text-align: center;
    font-size: 0.38rem;
}

.reset-alert-close {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #0076FF;
    font-size: 0.38rem;
    display: block;
    border-top: 1px solid  #D8D8D8;
}

.resetDelete {
    width: 0.4rem;
    height: 0.4rem;
    background: url(../../../images/pages/my-account3.0/vimg/delext.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.4rem;
    right: 0;
    display: none;
}