/* 站点导航 */
.sitenav{
  h1 {
    height: 80px;
    border-bottom: 1px solid #ff867d;/*no*/
    text-align: center;
    font-size: 36px;/*px*/
    color: #ff867d;
    line-height: 80px;
  }
  .container a {
    width: 50%;
    float: left;
    border-bottom: 1px solid #ff867d;/*no*/
    padding: 0 10px;
    font-size: 30px;/*px*/
    text-decoration: none;
    color: #ff867d;
    height: 50px;
    line-height: 50px;
  }
  .container a:nth-child(odd) {
    border-right: 1px solid #ff867d;/*no*/ 
  } 

  .container a.over{
    background-color: #D6035A;
    color: #FFF;
    font-weight: bold;
  }
} 